### Angular ###
# Składniki builda
/dist/
/tmp/
/.angular/

# Pliki generowane w kodzie
app/**/*.js
app/**/*.js.map

# Zależności
/node_modules/
/bower_components/

# Pliki testowe
/e2e/*.js
/e2e/*.map

# Logi i cache
/sass-cache/
/connect.lock/
/coverage/
/libpeerconnection.log/
/npm-debug.log/
/testem.log/
/typings/

### Django & Python ###
# Pliki Python
*.py[cod]
*$py.class
__pycache__/
*.so

# Pliki dziennika
*.log
*.pot

# Pliki baz danych
/db.sqlite3
/db.sqlite3-journal
/media/

# Pliki wirtualnych środowisk
.env
.venv
/env/
/venv/
/ENV/
/env.bak/
/venv.bak/

# Raporty testów
/htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
/nosetests.xml
/coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
/cover/

# Dokumentacja Sphinx
/docs/_build/

# PyBuilder
/.pybuilder/
/target/

# Jupyter Notebook
/.ipynb_checkpoints

# IPython
/profile_default/
ipython_config.py

# Konfiguracja Pipenv, Poetry i PDM
Pipfile.lock
poetry.lock
pdm.lock
.pdm.toml

# Pliki Celery
celerybeat-schedule
celerybeat.pid

# Inne
/site
.mypy_cache/
.dmypy.json
.pyre/
.pytype/
cython_debug/

### Node.js ###
# Logi
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Raporty diagnostyczne
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Pliki zależności
node_modules/
bower_components/
jspm_packages/
web_modules/

# Cache i dane tymczasowe
.nyc_output
.grunt
.lock-wscript
.next/
out/
.nuxt/
.cache/
.vuepress/dist/
.temp/
.docusaurus/
.serverless/
.fusebox/
.dynamodb/
.tern-port/
.vscode-test/

# Cache narzędzi
.eslintcache
.stylelintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Historia REPL
.node_repl_history

# Pliki .env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Parcel cache
.parcel-cache/

# Pliki builda SvelteKit
.svelte-kit/

### macOS ###
.DS_Store
.AppleDouble
.LSOverride
.Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

### Linux ###
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

### Windows ###
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
System Volume Information/

### JetBrains & PyCharm ###
# Pliki konfiguracyjne
.idea/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/gradle.xml
.idea/**/libraries

# IntelliJ
out/
.idea_modules/
atlassian-ide-plugin.xml
.idea/replstate.xml
.idea/sonarlint/
.idea/httpRequests
.idea/caches/build_file_checksums.ser

### Gradle & Maven ###
# Pliki Gradle
.gradle/
.idea/**/gradle.xml
.idea/**/libraries

# Pliki Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

### Inne ###
# Tymczasowe pliki edytorów
*.swp
*.swo
*.bak
*.tmp

# =========================
.zipignore
zip-from-ignore.sh
*.sh
*.zip