<!-- Text message -->
<div
  *ngIf="message.content"
  [ngClass]="{
    'bg-primary text-white': message.sender_sub === userSub,
    'bg-light text-dark': message.sender_sub !== userSub
  }"
  class="chat-bubble-text"
>
  {{ message.content }}
</div>

<!-- Media message -->
<ng-container *ngIf="!message.content && message.media_url">
  <ng-container *ngIf="message.loadFailed; else imageBlock">
    <div class="text-danger small">
      Unable to load image:
      <a [href]="message.media_url" target="_blank">{{ message.media_url }}</a>
    </div>
  </ng-container>

  <ng-template #imageBlock>
    <img
      [src]="message.media_url"
      class="chat-image"
      alt="media"
    />
  </ng-template>
</ng-container>
